*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7%;

}

html{
    height: 100vh;
}

/*INPUT*/


input{
    width: 400px;
    border: 3px solid rgb(207, 207, 207);
    border-radius: 10px;
    padding: 10px;
    outline: none;
}

#button-addon2{
    border-radius: 10px;
}


.button{
background-color: rgb(107, 245, 107);
border-radius: 10px;
border: 2px solid ghostwhite;
padding: 15px;
outline: none;
cursor: pointer;
font-weight: 600;
}

.button:hover{
    background-color: rgb(95, 235, 95);
    color: rgb(74, 73, 73);
}